@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.image-container {
  width: 600px; /* Specify the size you want */
  height: 800px; /* Specify the size you want */
  overflow: hidden;
  position: relative;
  flex: none; /* Prevents images from stretching */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}


.hexigon {
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  /* transform: scaleY(110%); */
}

.blueShadow {
  box-shadow: 0px 14px 55px rgba(170, 96, 255, 0.35);
}

.dropShadow {
  filter: drop-shadow(-10.8923px 14.523px 35.0973px rgba(170, 96, 255, 0.35));
}

.btnUnderline {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btnUnderline::after {
  transition-duration: 200ms;
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: #0f172a;
  right: 100%;
  bottom: 0;
}

.btnUnderline:hover::after {
  transform: translateX(100%);
}

.blueGradient {
  background: -webkit-linear-gradient(30deg, #574aff, #9189ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blueBackground {
  background: linear-gradient(30deg, #574aff, #9189ff);
}

.unstyled {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  width: 100%;
}


.unstyled:focus {
  outline: none;
}

.fadeOut {
  animation: fadeOut 2s linear forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}